html {
    height: 100%;
}

body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
}

.background {
    /* The image used */
    background-image: url("../img/suse.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 800px;
    min-width: 350px;
    overflow-x: hidden;
}

#btn-buscar {
    border-color: #59a642;
    color: white;
    background: #59a642;
    outline: 0;
}

#btn-buscar:hover {
    box-shadow: 0 0 8px rgba(66, 123, 47, 0.6);
}

.index-search-form {
    margin-top: 1em;
}

.fixed-column-form {
    max-width: 570px;
    width: 65%;
    margin: auto;
    top: 40%;
    position: relative;
}

.form-control:focus {
    border-color: #59a642;
    box-shadow: none;
}

.form-control:hover {
    border-color: #59a642;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(66, 123, 47, 0.6);
}
